/private/config/*.*
!/private/config/*.html
/private/vendor/
/private/themes/
/web/*/*
/var/*/*
/private/var/cache/
/private/var/log/
/private/var/dev_storage/
/private/var/tmp_media/
/nbproject/private/
.project
.buildpath
/private/.env
node_modules/*
private/modules/Test/*
.phpunit.result.cache