<!DOCTYPE html>
<html>

<head>
  <title>Index Page</title>
</head>

<body>

  <style>
    article {
      text-align: center;
      padding: 150px;
    }

    h1 {
      font-size: 50px;
    }

    article {
      font: 20px Helvetica, sans-serif;
      color: #333;
    }

    article {
      display: block;
      text-align: left;
      width: 650px;
      margin: 0 auto;
    }

    /*a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }*/
  </style>

  <article>
    <h1>Good to see you</h1>
    <div>
      <p>We hope you will have fun using fluid.</p>
      <p>&mdash; The Community</p>
    </div>
  </article>
</body>

</html>